body {
    background-color: #F1F6FF;
}

td {
    border: 1px solid #CDD9F0;
    background-color: #E3EBF9;
    padding: 3px;
}

hr {
    background-color: #CDD9F0;
    border-style: none;
    height: 2px;
    width: 95%;
}

img {
    border-radius: 50%;
}

img:hover {
    border-radius: 48%;

}

h1 {
    color: #274376;
}

h2 {
    color: #274376;
    background-color: #eaf2ff;
}

.bacon {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bacon:hover {
    color: #3a5e9e;
    background-color: #E3EBF9;
}
.padding {
    padding: 10px;
}